<a href="https://colab.research.google.com/github/kixtter/AnalisisInteligenteDatos/blob/main/Unidad%201/Caso_3_Analisis_Descriptivo_de_vacunaci%C3%B3n_COVID19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

vacunas = pd.read_csv('https://raw.githubusercontent.com/rpizarrog/Analisis-Inteligente-de-datos/main/datos/country%20vaccinations%20by%20manufacturer.csv')
vacunas

      location        date             vaccine  total_vaccinations
0      Austria  2021-01-08     Johnson&Johnson                   0
1      Austria  2021-01-08             Moderna                   0
2      Austria  2021-01-08  Oxford/AstraZeneca                   0
3      Austria  2021-01-08     Pfizer/BioNTech               31020
4      Austria  2021-01-15     Johnson&Johnson                   0
...        ...         ...                 ...                 ...
10960  Uruguay  2021-08-07     Pfizer/BioNTech             1562360
10961  Uruguay  2021-08-07             Sinovac             3234519
10962  Uruguay  2021-08-08  Oxford/AstraZeneca               84121
10963  Uruguay  2021-08-08     Pfizer/BioNTech             1562430
10964  Uruguay  2021-08-08             Sinovac             3234526

[10965 rows x 4 columns]

## Variables:

*   location: representa el país donde se aplicó la vacuna
*   date: la fecha en que se aplica en formato 'YYYY-MM-DD'
*   vaccine: representa al fabricante de la vacuna
*   total_vaccinations: la cantidad de vacunas que se aplicaron en esa

In [3]:
datos=pd.read_csv("https://raw.githubusercontent.com/rpizarrog/Analisis-Inteligente-de-datos/main/datos/country%20vaccinations%20by%20manufacturer.csv")
dat = pd.DataFrame(data=datos)
dat.groupby("location").total_vaccinations.sum()

location
Austria            118511334
Belgium            162354528
Bulgaria            27931197
Chile             2629159998
Croatia             38864087
Cyprus              12211016
Czechia            840566515
Denmark             75191003
Estonia             15626971
Finland             68408812
France            5540732366
Germany           7657809082
Hong Kong          382021660
Hungary            164704986
Iceland             38744648
Ireland             52553510
Italy             5418168374
Japan             3910422920
Latvia             111034630
Liechtenstein         451823
Lithuania          240077306
Luxembourg           7664316
Malta                9976920
Netherlands        234720727
Poland             438336578
Portugal           145482899
Romania           1037741287
Slovakia            56050405
Slovenia            21103238
Spain              651194863
Sweden             128990325
Switzerland        736032309
United States    41524152779
Uruguay            397732230
Name: total_vaccinations, dtype: int64

In [4]:
aplicaciones_pais = vacunas.loc[:, 'location'];
aplicaciones_pais.value_counts()

Germany          900
Iceland          884
Latvia           749
Italy            746
Czechia          744
Lithuania        731
France           712
Romania          669
Chile            565
United States    556
Uruguay          489
Switzerland      454
Hong Kong        336
Japan            225
Hungary          158
Poland           128
Netherlands      128
Finland          127
Spain            124
Austria          124
Portugal         122
Slovakia         118
Croatia          116
Ireland          113
Bulgaria         107
Luxembourg       106
Estonia          105
Belgium          104
Cyprus           100
Slovenia          98
Denmark           95
Malta             91
Sweden            89
Liechtenstein     52
Name: location, dtype: int64